body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #fbc9a9;
}

span {
  font-weight: 500;
}

.mainFlex {
  /* border: 5px solid #806655; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh; /* this is very important for centering the content vertically */
}

.picture {
  border-left: 5px solid #806655;
  border-top: 5px solid #806655;
  border-bottom: 5px solid #806655;
  width: 800px;
  height: 450px;
  display: flex;
  justify-content: center;
}

img {
  width: 800px;
}

.text {
  border: 5px solid #806655;
  color: #40332b;
  text-align: center;
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 325px;
  height: 450px;
}

#enter {
  font-size: 1.5rem;
}

#space {
  font-size: 1.5rem;
}
